{% load cell_color %}

{% for task, count, flag in tasks %}
    {% ifchanged task %}
        {% if not task %}
            <div class="shift_cell" style="background: #C0C0C0; height: {{ count }}cm;"></div>
        {% elif task == '×' %}
            <div class="shift_cell" style="background: {{ task|task_color }};
                    color: {{ task|task_font_color }}; height: {{ count }}cm;">
                {{ task }}
            </div>
        {% else %}
            <div class="shift_cell{% if flag > 0 %} now_cell{% endif %}" style="background: {{ task|task_color }};
                    color: {{ task|task_font_color }}; height: {{ count }}cm;">
                {{ task }}
            </div>
        {% endif %}
    {% endifchanged %}
{% endfor %}
