{% extends 'base.html' %}

{% block title %}{{ shift.day }}{{ shift.weather }} {{ shift.user }}{% endblock %}
{% block headline %}{{ shift.day }}{{ shift.weather }}シフト  {{ shift.user }}{% endblock %}

{% block content %}

    <ul class="nav">
        {% for p_shift in personal_shifts %}
            {% if p_shift %}
                <li class="nav__item">
                    <a href="{% url 'personal_shift' p_shift.id %}">
                        {{ p_shift.day }}{{ p_shift.weather }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <br>

    <div class="float_2col">
        <div class="float_left">
            {% for time, flag in times %}
                <div class="time_cell{% if flag %} now_time_cell{% endif %}" style="height: 1cm;">{{ time }}</div>
            {% endfor %}
        </div>
        <div class="float_right">
            {% include 'shift/base_timetable.html' with tasks=tasks %}
        </div>
    </div>

{% endblock %}
