{% extends 'base.html' %}

{% block content %}
    <h3>全体シフト</h3>
    <ul class="nav">
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=1">1日目晴</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=2">1日目雨</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=3">2日目晴</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=4">2日目雨</a></li>
    </ul>

{#    {% for shift in shift_list %}#}
{#        <a href="{% url 'personal_shift' shift.id %}">{{ shift.user }}</a> {{ shift.shift_id }}#}
{#    {% endfor %}#}

    <br>

    <div class="slide_wrap">
        <div class="time_slide_box ">
            <div class="time_cell" style="height: 1cm;">時間帯</div>
            {% for time in times %}
                <div class="time_cell" style="height: 1cm;">{{ time }}</div>
            {% endfor %}
        </div>
        {% for tasks in tasks_set %}
            <div class="user_slide_box">
                <div class="task_cell name_cell" style="height: 1cm;">
                    {{ tasks.0 }}
                </div>
                {% include 'shift/base_timetable.html' with tasks=tasks.1 %}
            </div>
        {% endfor %}

    </div>

{% endblock %}