{% extends 'base.html' %}

{% block title %}
    {% if shift_list %}
        {{ shift_list.0.day }}{{ shift_list.0.weather }} 全体シフト
    {% else %}
        ×
    {% endif %}
{% endblock %}

{% block headline %}
    {% if shift_list %}
        {{ shift_list.0.day }}{{ shift_list.0.weather }} 全体シフト
    {% else %}
        ×
    {% endif %}
{% endblock %}





{% block content %}
    <ul class="nav">
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=1">準備日晴</a></li>
        {#<li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=2">準備日雨</a></li>#}
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=2">×</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=3">1日目晴</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=4">1日目雨</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=5">2日目晴</a></li>
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=6">2日目雨</a></li>
        {#<li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=7">片付け日</a></li>#}
        <li class="nav__item"><a href="{% url 'whole_shift' %}?shift_id=7">×</a></li>
    </ul>

    <br>

    <div class="slide_wrap">
        <div class="time_slide_box ">
            <div class="time_cell" style="height: 2cm;">時間帯</div>
            {% for time, flag in times %}
                <div class="time_cell{% if flag > 0 %} now_time_cell{% endif %}" style="height: 1cm;">{{ time }}</div>
            {% endfor %}
        </div>
        <div class="shift_slide_wrap">
            {% for tasks in tasks_set %}
                <div class="shift_slide_box">
                    <div class="shift_cell name_cell" style="height: 1cm;">
                        {{ tasks.0.department }}
                    </div>
                    <div class="shift_cell name_cell" style="height: 1cm;">
                        <a href="{% url 'personal_shift' tasks.0.id %}">{{ tasks.0.user }}</a>
                    </div>
                    {% include 'shift/base_timetable.html' with tasks=tasks.1 %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}