body {
    padding: 30px 30px 30px 30px;
}

.user_status {
    text-align: right;
    float: right;
}

.user_status a:hover {
    text-decoration: none;
}

.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
  }

.square_btn:hover {
    background: #00bcd4;
    color: white;
}

#----------nav---------- {}

.nav {
    display: table;
    width: 100%;
    background: #EEEEEE;
}

.nav__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 14.285%;
    border-left: #CCCCCC solid 1px;
    border-right: #CCCCCC solid 1px;
}

.nav__item a {
    display: block;
    padding: 15px 0;
    color: #666666;
    text-decoration: none;
}

.nav__item_t {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 25%;
    border-left: #CCCCCC solid 1px;
    border-right: #CCCCCC solid 1px;
}

.nav__item_t a {
    display: block;
    padding: 15px 0;
    color: #666666;
    text-decoration: none;
}

#----------table---------- {}

.float_2col {
    overflow: hidden;
}

.float_left {
    float: left;
    width: 20%;
}

.float_right {
    float: right;
    width: 80%;
}


.time_cell {
    background: lightgoldenrodyellow;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
}

.shift_cell {
    background: #3875d7;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    color: white;
    font-weight: bold;
}

#----------whole_shift---------- {}

.slide_wrap {
    background: #CCCCCC;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.time_slide_box {
    border: white solid 1px;
    min-width: 3cm;
    flex-grow: 0;
    flex-basis: auto;
}

.shift_slide_wrap {
    background: #CCCCCC;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    flex-basis: 0;
    overflow: scroll;
}

.shift_slide_box {
    border: white solid 1px;
    min-width: 4cm;
}

#----------timetable---------- {}

.place_cell {
    background: white;
    color: black;
}

.event_cell {
    background: darkorange;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: white solid 1px;
    color: white;
    font-weight: bold;
}

.time_cell_t {
    background: #D9F8D4;
}

.now_cell {
    border: orangered solid 10px;
}

.now_time_cell {
    background: orangered;
    color: white;
}